# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache
.mypy_cache

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environment
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pyenv
.python-version

# PyCharm
/.idea

# Other
docsite/
.coverage
docs/htmlcov
testing/dataset.json
